<div id="preview" @dragover="dragOver" @drop="drop">
  <mu-paper class="preview-paper" :z-depth="1">
    <svg v-if="elSelelcted">
      <!--左上-->
      <rect 
        :x="current.style.left-dotWidth/2" 
        :y="current.style.top-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
        @click="click"
      />
        <!--上-->
      <rect 
        :x="current.style.left+current.style.width/2-dotWidth/2" 
        :y="current.style.top-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--右上-->
      <rect 
        :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
        :y="current.style.top-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--左-->
      <rect 
        :x="current.style.left-dotWidth/2" 
        :y="current.style.top+current.style.height/2-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--右-->
      <rect 
        :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
        :y="current.style.top+current.style.height/2-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--左下-->
      <rect 
        :x="current.style.left-dotWidth/2" 
        :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--下-->
      <rect 
        :x="current.style.left+current.style.width/2-dotWidth/2" 
        :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--右下-->
      <rect 
        :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
        :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
        :width="dotWidth"
        :height="dotWidth"
        style="fill:black;"
      />
      <!--上-->
      <line
        :x1="current.style.left"
        :y1="current.style.top"
        :x2="current.style.left+parseInt(current.style.width)"
        :y2="current.style.top"
        style="stroke:black;stroke-width:1"
      />
      <!-- 右-->
      <line
        :x1="current.style.left+parseInt(current.style.width)"
        :y1="current.style.top"
        :x2="current.style.left+parseInt(current.style.width)"
        :y2="current.style.top+parseInt(current.style.height)"
        style="stroke:black;stroke-width:1"
      />
      <!--下-->
      <line
        :x1="current.style.left"
        :y1="current.style.top+parseInt(current.style.height)"
        :x2="current.style.left+parseInt(current.style.width)"
        :y2="current.style.top+parseInt(current.style.height)"
        style="stroke:black;stroke-width:1"
      />
      <!--左-->
      <line
        :x1="current.style.left"
        :y1="current.style.top"
        :x2="current.style.left"
        :y2="current.style.top+parseInt(current.style.height)"
        style="stroke:black;stroke-width:1"
      />
    </svg>
  </mu-paper>
</div>