<div id="preview" @dragover="dragOver" @drop="drop">
  <div class="viewport preview-paper" :z-depth="1">
    <!--左上-->
    <dot
      v-if="elSelelcted"
      :x="current.style.left-dotWidth/2" 
      :y="current.style.top-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--上-->
    <dot 
      v-if="elSelelcted"
      :x="current.style.left+current.style.width/2-dotWidth/2" 
      :y="current.style.top-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--右上-->
    <dot
      v-if="elSelelcted"
      :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
      :y="current.style.top-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--左-->
    <dot
      v-if="elSelelcted"
      :x="current.style.left-dotWidth/2" 
      :y="current.style.top+current.style.height/2-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--右-->
    <dot
      v-if="elSelelcted"
      :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
      :y="current.style.top+current.style.height/2-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--左下-->
    <dot 
      v-if="elSelelcted"
      :x="current.style.left-dotWidth/2" 
      :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--下-->
    <dot 
      v-if="elSelelcted"
      :x="current.style.left+current.style.width/2-dotWidth/2" 
      :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--右下-->
    <dot
      v-if="elSelelcted"
      :x="current.style.left+parseInt(current.style.width)-dotWidth/2" 
      :y="current.style.top+parseInt(current.style.height)-dotWidth/2"
      :width="dotWidth"
      :height="dotWidth"
    />
    <!--上-->
    <edge
      v-if="elSelelcted"
      type="horizontal"
      :x1="current.style.left"
      :y1="current.style.top"
      :x2="current.style.left+parseInt(current.style.width)"
      :y2="current.style.top"
    />
    <!-- 右-->
    <edge
      v-if="elSelelcted"
      type="vertical"
      :x1="current.style.left+parseInt(current.style.width)"
      :y1="current.style.top"
      :x2="current.style.left+parseInt(current.style.width)"
      :y2="current.style.top+parseInt(current.style.height)"
    />
    <!--下-->
    <edge
      v-if="elSelelcted"
      type="horizontal"
      :x1="current.style.left"
      :y1="current.style.top+parseInt(current.style.height)"
      :x2="current.style.left+parseInt(current.style.width)"
      :y2="current.style.top+parseInt(current.style.height)"
    />
    <!--左-->
    <edge
      v-if="elSelelcted"
      type="vertical"
      :x1="current.style.left"
      :y1="current.style.top"
      :x2="current.style.left"
      :y2="current.style.top+parseInt(current.style.height)"
    />
  </div>
</div>