<div id="node">
  <div class="basic-node">
    <p>基本元件</p>
    <mu-icon value="text_fields" draggable @dragstart="dragStart" data-name="text"></mu-icon>
    <mu-icon value="image" draggable @dragstart="dragStart" data-name="image"></mu-icon>
  </div>
  <div class="charts-node">
    <p>图表元件</p>
    <mu-icon value="insert_chart" draggable @dragstart="dragStart" data-name="barChart"></mu-icon>
    <mu-icon value="pie_chart" draggable @dragstart="dragStart" data-name="pieChart"></mu-icon>
  </div>
</div>