<div class="sub-attribute">
  <div v-if="type==='text'">
    <div class="text-style-wrapper">
      <h3 class="form-title">内容</h3>
      <el-form :inline="true" ref="textStyleForm" :model="textStyleForm">
        <el-form-item label="内容">
          <el-input v-model="textStyleForm.content" @change="contentChange"></el-input>
        </el-form-item>
        <el-form-item label="背景颜色">
          <el-color-picker v-model="textStyleForm.bgColor" @change="bgColorChange"></el-color-picker>
        </el-form-item>
      </el-form>
    </div>
    <div class="text-style-wrapper">
      <h3 class="form-title">字体</h3>
      <el-form :inline="true" ref="textStyleForm" :model="textStyleForm">
        <el-form-item label="字体大小">
          <el-input v-model="textStyleForm.fontSize" @change="fontSizeChange"></el-input>
        </el-form-item>
        <el-form-item label="字体颜色">
          <el-color-picker v-model="textStyleForm.fontColor" @change="fontColorChange"></el-color-picker>
        </el-form-item>
      </el-form>
    </div>
  </div>
  <div v-if="type==='image'">
    <label>暂无样式</label>
  </div>
  <div v-if="type==='barChart'">
    <el-form :inline="true" ref="barStyleForm" v-model="barStyle">
      <h3 class="form-title">图表格式</h3>
      <el-form-item label="标题">
        <el-input v-model="barStyle.title">
        </el-input>
      </el-form-item>
    </el-form>
  </div>
</div>